<div class="row p-3 bg-light">
    <div class="col-md-9 pt-1">
        <pre>{{client.uuid}}</pre>
        <h1 class="mt-0">{{model.name}}</h1>
        <h4>${{model.worth}} <small>MXN</small></h4>
    </div>
    <div class="col-md-3 pt-1">
        <img src="/assets/img/modelos/{{model.id}}.png" alt="">
    </div>
</div>
<div class="row pb-4 pt-3">
    <div class="col-md-4 pt-1">
        <div class="card card-body text-center" style="min-height: 150px">
            <img src="/assets/img/institutions/{{client.credit}}.png" height="70px" width="70px" class="ml-auto mr-auto">
            <h5>{{client.credit}}</h5>
        </div>
    </div>
    <div class="col-md-4 pt-1">
        <div class="card p-2 pt-4 text-center" style="min-height: 150px" *ngIf="client.credit != 'Efectivo'">
            <small>Financiamiento:</small>
            <h1>{{client.periodicity}}</h1>
            <p>Parcialidades</p>
        </div>
    </div>
    <div class="col-md-4 pt-1">
        <div class="card p-4 text-center" style="min-height: 150px">
            <small class="mt-3">Evaluación Inteligente:</small>
            <h1>{{client.worth}} <small> de 10</small></h1>

        </div>
    </div>
</div>
<div class="row py-4 bg-light" *ngIf="model.id > 0 && model.id < 4">
    <div class="col-md-6 pt-1">
        <div class="col-md-12 pt-1">
            <pre>Información del Cliente</pre>
            <h1 class="mt-0">{{client.name}}</h1>
            <h4>✓ <img src="/assets/img/salinas-id.png" alt="" width="100px"></h4>
        </div>
    </div>
    <div class="col-3">
        <div class="card card-body text-center" style="min-height: 150px">
            <img src="/assets/img/institutions/Elektra.png" height="70px" width="70px" class="ml-auto mr-auto">
            <h5>Elektra</h5>
            <p><small class="text-success">●</small> <small> Conectado</small></p>
        </div>
    </div>
    <div class="col-md-3 pt-1">
        <div class="card card-body text-center" style="min-height: 150px">
            <img src="/assets/img/institutions/Banco Azteca.png" height="70px" width="70px" class="ml-auto mr-auto">
            <h5>Banco Azteca</h5>
            <p><small class="text-success">●</small> <small> Conectado</small></p>
        </div>
    </div>
</div>
<div class="row py-4 bg-light" *ngIf="model.id > 6">
    <div class="col-md-6 pt-1">
        <div class="col-md-12 pt-1">
            <pre>Información del Cliente</pre>
            <h1 class="mt-0">{{client.name}}</h1>
            <h4>✓ <img src="/assets/img/salinas-id.png" alt="" width="100px"></h4>
        </div>
    </div>
    <div class="col-3">
        <div class="card card-body text-center" style="min-height: 150px; opacity: 0.4;">
            <img src="/assets/img/institutions/Elektra.png" height="70px" width="70px" class="ml-auto mr-auto">
            <h5>Elektra</h5>
            <p><small class="text-muted">●</small> <small> Sin datos</small></p>
        </div>
    </div>
    <div class="col-md-3 pt-1">
        <div class="card card-body text-center" style="min-height: 150px">
            <img src="/assets/img/institutions/Banco Azteca.png" height="70px" width="70px" class="ml-auto mr-auto">
            <h5>Banco Azteca</h5>
            <p><small class="text-success">●</small> <small> Conectado</small></p>
        </div>
    </div>
</div>
<div class="row py-4 bg-light" *ngIf="model.id > 3 && model.id < 7">
    <div class="col-md-6 pt-1">
        <div class="col-md-12 pt-1">
            <pre>Información del Cliente</pre>
            <h1 class="mt-0">{{client.name}}</h1>
            <h4>✓ <img src="/assets/img/salinas-id.png" alt="" width="100px"></h4>
        </div>
    </div>
    <div class="col-3">
        <div class="card card-body text-center" style="min-height: 150px">
            <img src="/assets/img/institutions/Elektra.png" height="70px" width="70px" class="ml-auto mr-auto">
            <h5>Elektra</h5>
            <p><small class="text-success">●</small> <small> Conectado</small></p>
        </div>
    </div>
    <div class="col-md-3 pt-1">
        <div class="card card-body text-center" style="min-height: 150px; opacity: 0.4;">
            <img src="/assets/img/institutions/Banco Azteca.png" height="70px" width="70px" class="ml-auto mr-auto">
            <h5>Banco Azteca</h5>
            <p><small class="text-muted">●</small> <small> Sin datos</small></p>
        </div>
    </div>
</div>
