<nav class="main navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/assets/img/insight-mirror-w.png" width="100px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" *ngIf="appActive">
                <li class="nav-item" routerLink="dashboard" routerLinkActive="active">
                    <a class="nav-link">Reporte</a>
                </li>
                <li class="nav-item" routerLink="clients" routerLinkActive="active">
                    <a class="nav-link">Solicitudes</a>
                </li>
            </ul>
            <ul class="navbar-nav float-right" *ngIf="appActive">
                <li class="nav-item" ngbDropdown display="dynamic">
                    <button class="btn btn-link mr-2" ngbDropdownToggle id="dropdownManual">{{user.name}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                        <button ngbDropdownItem>Configuración</button>
                        <div class="dropdown-divider"></div>
                        <button ngbDropdownItem (click)="logout()">Cerrar Sesión</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
