<div class="row pt-3">
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-10">
                        <span>Clientes Analizados</span>
                        <h4>123,567</h4>
                    </div>
                    <div class="ml-auto">
                        <div class="line-chart m-b-40">
                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                                    [legend]="lineChartLegend" [chartType]="lineChartType" height="65px" width="120px">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span>Promedio de Compra</span>
                        <h4>$2040.08<small> Diario</small></h4>
                    </div>
                    <div class="ml-auto">
                        <div id="ravenue"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card card-hover">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span>Ventas Estimadas</span>
                        <h4>$19.4 M<small> este mes</small></h4>
                    </div>
                    <div class="ml-auto">
                        <div id="foo" style="width: 100px; height: 55px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Productos con mas <i>match.</i></h4>
                <h5 class="card-subtitle">En la ultima semana</h5>
            </div>
            <div class="ml-auto">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Mensual</option>
                        <option value="1">Diario</option>
                        <option value="2">Semanal</option>
                        <option value="3">Anual</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- title -->
    </div>
    <div class="table-responsive">
        <table class="table v-middle">
            <thead>
            <tr class="bg-light">
                <th class="border-top-0">Imagen</th>
                <th class="border-top-0">Producto</th>
                <th class="border-top-0 text-center">Factor Clave</th>
                <th class="border-top-0 text-right">Ventas Netas</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let model of models">
                    <td>
                        <img src="/assets/img/modelos/{{model.id}}.png" alt="" width="70px">
                    </td>
                    <td>{{model.model}}</td>
                    <td class="text-center">
                        <label class="badge badge-warning text-lg"><b>{{model.index}}</b></label>
                    </td>
                    <td class="text-right">${{model.worth}} <small>MXN</small></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
