<div class="row pt-3">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                <tr class="bg-light">
                    <th class="border-top-0">Imagen</th>
                    <th class="border-top-0">Venta</th>
                    <th class="border-top-0">Producto</th>
                    <th class="border-top-0 text-center">Factor Clave</th>
                    <th class="border-top-0 text-right">Compra</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let model of models">
                        <td>
                            <img src="/assets/img/modelos/{{model.id}}.png" alt="" width="70px">
                        </td>
                        <td><b><a routerLink="{{model.sell}}">{{model.sell}}</a></b></td>
                        <td><a routerLink="/products/{{model.id}}">{{model.model}}</a></td>
                        <td class="text-center">
                            <label class="badge badge-warning text-lg"><b>{{model.index}}</b></label>
                        </td>
                        <td class="text-right">${{model.worth}} <small>MXN</small></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
