<form class="form-signin text-center" (ngSubmit)="login()">
    <div class="alert alert-warning" role="alert" *ngIf="errors['login']">
        <b>!</b> {{errors['login']}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errors['credentials']">
        <b>Error:</b> {{errors['credentials']}}
    </div>
    <img class="mb-4 mt-5" src="/assets/img/salinas-id.png" alt="" width="272">
    <label for="inputEmail" class="sr-only">Correo Electrónico</label>
    <input type="email" id="inputEmail" name="email" class="form-control" [(ngModel)]="user.email" placeholder="Correo Electrónico" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" name="password" class="form-control" [(ngModel)]="user.password" placeholder="Contraseña" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Mantén mi sesión abierta
        </label>
    </div>
    <button class="btn btn-lg btn-warning btn-block" type="submit">Iniciar Sesión</button>
    <p class="mt-5 mb-3 text-muted">&copy; Grupo Salinas 2019</p>
</form>
