@import '~bootstrap/dist/css/bootstrap.css';
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
body:before{
  content: "";
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 25vh;
  z-index: -1;
  background: #FFCB27 !important;
}
body{
  background-color: #EEEEEE !important;
}

.main.navbar li.nav-item{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.main.navbar li.nav-item.active{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
}
.main.navbar li.nav-item>button{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
  color: black;
}
